<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @device.type %>
</p>

<p>
  <b>Registration:</b>
  <%= @device.registration_id %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
